body {
	display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: lightblue;
  color: white; /*標題顏色*/
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  /* 新增：等比例放大 2 倍，並置中 */
  transform: scale(1.5);
  transform-origin: center center;  
}

.room-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  
}

input[type="text"] {
  width: 200px;
  box-sizing: border-box;
  
  text-align: center;

  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  width: 200px;
  box-sizing: border-box;

  padding: 10px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
}

button:hover {
  background-color: #0056b3;
}

#gameBoard {
  display: grid;
  grid-template-columns: repeat(7, 80px);
  grid-template-rows: repeat(6, 80px);
  gap: 15px;
  margin-top: 20px;
}
/* 添加媒体查询以适配移动设备 */
@media (max-width: 1300px) {
  #gameBoard {
    width: 85vw; /* 让棋盘宽度为屏幕的 90% */
    height: auto;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 15px;
  }

}

.cell {
  width: 80px;
  height: 80px;
  background-color: #eee;
  border-radius: 50%;
  display: inline-block;
  /*display: flex;*/
  align-items: center;
  justify-content: center;
  position: relative;
}

.player1 {
  background-color: lightgreen;
  border: 3px solid darkgreen; /* 深綠色邊框 */
}

.player2 {
  background-color: lightpink;
  border: 3px solid darkred; /* 深紅色邊框 */
}

.winning-cell::after {
  content: 'X';
  color: black;
  font-size: 48px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.turn-indicator {
  display: flex;
  align-items: center;
  /*margin-top: 5px;*/
  font-size: 24px;
}

/*彈出視窗*/
.dialog {/*對話匡*/
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.dialog-content {/*對話匡內容*/
  background: white;
  padding: 20px;
  border-radius: 15px;/*圓邊*/
  text-align: center;
  color: black;
  width: 50%;
  max-width: 600px;
  font-size: 50px;
}

#closeDialogButton {
  padding: 10px;
  margin-top: 5px;
  font-size: 40px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
}

#closeDialogButton:hover {
  background-color: #0056b3;
}

